<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Tasks - VietSpeak</title>
  </head>
  <body>

    <h1>Hello {{ username }}!</h1>
    <a class="btn btn-primary" href="./logout" role="button">Logout</a>
    <h2>Create A New Group</h2>
    <input type="text" class="form-control" id="group_name" placeholder="Group Name"/>
    <button type="button" class="btn btn-primary" id="create_group">Create</button>
    <small id="message" class="form-text text-muted"></small>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="module">
        async function postData(url = '', data = {}) {
            let formData = new FormData();
            for (const [key, value] of Object.entries(data)) formData.append(key, value);
            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });
            return response.json();
        }

        document.getElementById("create_group").onclick = () => {
            postData("./create_group", {
                group_name: document.getElementById("group_name").value
            }).then( (data) => {
                if (data["status"]) window.location.href = "./tasks";
                else document.getElementById("message").innerText = "This group name has been taken."
            })
        }

    </script>
  </body>
</html>