<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Groups - VietSpeak</title>
  </head>
  <body>

    <h1>Hello {{ username }}!</h1>
    <a class="btn btn-primary" href="./logout" role="button">Logout</a>
    <h2>My Groups</h2>
    <div id="group_names">
    </div>
    <h2>Invitations</h2>
    <div id="invitations">
    </div>
    </table> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="module">
        async function postData(url = '', data = {}) {
            let formData = new FormData();
            for (const [key, value] of Object.entries(data)) formData.append(key, value);
            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });
            return response.json();
        }

        postData("./get_groups")
        .then((data) => {
          data["result"].forEach( (e) => {
              let listOfGroupNames = document.getElementById("group_names");
              let newLink = document.createElement("a");
              newLink.href = "./view_group?id=" + e["id"];
              newLink.innerText = e["name"];
              listOfGroupNames.appendChild(newLink);
              listOfGroupNames.appendChild(document.createElement("br"));
            });
        });

        postData("./get_invitations")
        .then((data) => {
          data["result"].forEach( (e) => {
              let listOfGroupNames = document.getElementById("invitations");
              let newLink = document.createElement("text");
              newLink.innerText = e["name"];
              listOfGroupNames.appendChild(newLink);
              
              let accept_button = document.createElement("button");
              let classAttribute = document.createAttribute("class");
              classAttribute.value = "btn btn-primary";
              accept_button.setAttributeNode(classAttribute);
              accept_button.onclick = () => {
                fetch("/accept_invitation?id=" + e["id"])
                .then((data) => {
                  if (data["status"]) window.location.href = window.location.href;
                })
              };

              let roleAttribute = document.createAttribute("role");
              roleAttribute.value = "button";
              accept_button.setAttributeNode(roleAttribute)

              accept_button.innerText = "Accept";

              listOfGroupNames.appendChild(accept_button);

              let deny_button = document.createElement("button");
              deny_button.setAttribute("class", "btn btn-danger");
              deny_button.setAttribute("role", "button");
              deny_button.innerText = "Deny";

              deny_button.onclick = () => {
                fetch("/deny_invitation?id=" + e["id"])
                .then((data) => {
                  if (data["status"]) window.location.href = window.location.href;
                })
              };

              listOfGroupNames.appendChild(deny_button);

              listOfGroupNames.appendChild(document.createElement("br"));
            });
        });

        document.getElementById("upload_file").onclick = () => {
          const fileField = document.querySelector('input[type="file"]');

          postData("upload_file", {"file": fileField.files[0]})
          .then((response) => {
            console.log(response);
          })
        }

        postData("./get_tasks_created_by_user")
        .then((data) => {
          let table = document.getElementById("tasks");

          data["result"].forEach((r) => {
            let row = document.createElement("tr");
            let box1 = document.createElement("td");
            box1.innerText = r["id"];
            let box2 = document.createElement("td");
            box2.innerText = r["title"];
            let box3 = document.createElement("td");
            let viewLink = document.createElement("a");
            viewLink.innerHTML = "View Task";
            viewLink.setAttribute("class", "btn");
            viewLink.setAttribute("href", "/view_task?id="+r["id"]);
            let editLink = document.createElement("a");
            editLink.innerHTML = "Edit Task";
            editLink.setAttribute("class", "btn");
            editLink.setAttribute("href", "/edit_task?id="+r["id"]);
            box3.appendChild(viewLink);
            box3.appendChild(editLink);
            row.appendChild(box1);
            row.appendChild(box2);
            row.appendChild(box3);
            table.appendChild(row);
          })
        });


    </script>
  </body>
</html>