<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Tasks - VietSpeak</title>
    <p id="group_id" hidden>{{group_id}}</p>
    <p id="can_change_member" hidden>{{can_change_member}}</p> 
  </head>
  <body>
    <h1>Hello {{ username }}!</h1>
    <a class="btn btn-danger" href="./logout" role="button">Logout</a><br>
    <a class="btn btn-primary" href="./tasks" role="button">Home</a><br>
    <a class="btn btn-primary" href="./view_group_members?id={{group_id}}" role="button">{{groupname}}'s Members</a>
    <a class="btn btn-primary" href="./view_group_tasks?id={{group_id}}" role="button">{{groupname}}'s Tasks</a><br>
    <h3>Members</h3>
    <table id="members">
    </table>
    <div id="invited_member_list">
    </div>
    {% if can_change_member %}
      <input type="text" class="form-control" id="new_member" placeholder="New Member"/>
      <button type="button" class="btn btn-primary" id="invite_member">Invite</button>
      <small id="message_member" class="form-text text-muted"></small>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="module">
        async function postData(url = '', data = {}) {
            let formData = new FormData();
            for (const [key, value] of Object.entries(data)) formData.append(key, value);
            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });
            return response.json();
        }

        function updateMemberTable() {
          postData("./search_members_in_group", {group_id: document.getElementById("group_id").innerText})
        .then((data) => {
          let can_change_member = document.getElementById("can_change_member").innerText;
          data["result"].forEach( (e) => {
              let listOfMemberNames = document.getElementById("members");
              let newMember = document.createElement("tr");
              let nameBox = document.createElement("td");
              nameBox.innerText = e["name"];
              newMember.appendChild(nameBox);

              if (can_change_member === "True") {
                let canChangeMember = document.createElement("td");

                let canChangeMemberInner = document.createElement("select");
                canChangeMemberInner.className = "custom-select";
                let option1 = document.createElement("option");
                option1.innerText = "Can change member list and give members rights";
                option1.setAttribute("value", 1);
                if (e["can_change_member"] == 1) option1.setAttribute("selected", "");
                canChangeMemberInner.appendChild(option1);
                
                let option2 = document.createElement("option");
                option2.innerText = "Cannot change member list or give members rights";
                option2.setAttribute("value", 0);
                if (e["can_change_member"] == 0) option2.setAttribute("selected", "");
                canChangeMemberInner.appendChild(option2);

                canChangeMemberInner.onchange = () => {
                  let can_change_member = canChangeMemberInner.value == 1 ? true : false;
                  postData("/change_group_member_rights", {"user_id": e["id"], "can_change_member": can_change_member})
                  .then((status) => {
                    if (status["status"]) alert("Right for member " + e["name"] + " has been changed.");
                  })
                }
                canChangeMember.appendChild(canChangeMemberInner);
                newMember.appendChild(canChangeMember);

                let canChangeTask = document.createElement("td");
                let canChangeTaskInner = document.createElement("select");
                canChangeTaskInner.className = "custom-select";
                option1 = document.createElement("option");
                option1.setAttribute("value", 1);
                option1.innerText = "Can add and remove tasks";
                if (e["can_change_task"] == 1) option1.setAttribute("selected", "");
                canChangeTaskInner.appendChild(option1);
                option2 = document.createElement("option");
                option2.setAttribute("value", 0);
                option2.innerText = "Cannot add or remove tasks";
                if (e["can_change_task"] == 0) option2.setAttribute("selected", "");
                canChangeTaskInner.appendChild(option2);

                canChangeTaskInner.onchange = () => {
                  let can_change_task = canChangeTaskInner.value == 1 ? true : false;
                  postData("/change_group_member_rights", {"user_id": e["id"], "can_change_task": can_change_task})
                  .then((status) => {
                    if (status["status"]) alert("Right for member " + e["name"] + " has been changed.");
                  })
                };

                canChangeTask.appendChild(canChangeTaskInner);
                newMember.appendChild(canChangeTask);
              }
              
              listOfMemberNames.appendChild(newMember);
            });
        });
        
      }

        


        postData("./get_invited_members", {group_id: document.getElementById("group_id").innerText})
        .then((data) => {
          let table = document.createElement("table");
          if (data["result"].length > 0) {
            let title = document.createElement("h3");
            title.innerText = "Invited Members"
            document.getElementById("invited_member_list").appendChild(title);
            document.getElementById("invited_member_list").appendChild(table);
          }

          data["result"].forEach((e) => {
            let row = document.createElement("tr");
            let box = document.createElement("td");
            box.innerText = e["name"];
            row.appendChild(box);
            table.appendChild(row);
          });
        });

        if (document.getElementById("invite_member")) {
          document.getElementById("invite_member").onclick = () => {
              let username = document.getElementById("new_member").value;
              postData("./invite_member", {username: username, group_id: document.getElementById("group_id").innerText})
              .then((data) => {
                  if (data["status"]) window.location.href=window.location.href;
                  else document.getElementById("message_member").innerText = "This user has been invited"
              });
          }
        }

    </script>
  </body>
</html>